:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

.question{
    color: aliceblue;
    font-size: 20px;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: red;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: white;
    background-color: green;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 50px;
  margin: 50px;
}

.next-btn {
  font-size: 15px ;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display:none;
}